$white: #ffffff;
$light-gray: #E8EAE9;
$medium-gray: #D0D0CE;
$gray: #53565A;
$black: #000000;
$blue: #00A3E0;
$green: #86BC25;
$light-blue: #62B5E5;
$off-white: #FAFAFA;
$dark-blue: #0076A8;
$dull-grey: #97999B;
$dark-grey: #BBBCBC;