$font-family-open-sans: 'Open Sans';
$font-family-open-sans-bold: 'Open Sans Bold';
$font-family-open-sans-semibold: 'Open Sans SemiBold';

//Regular
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
//Bold
@font-face {
    font-family: 'Open Sans Bold';
    font-weight: 700;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
//SemiBold
@font-face {
    font-family: 'Open Sans SemiBold';
    font-weight: 600;
    src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
