@charset "UTF-8";

@font-face {
  font-family: "gsap";
  src:url("../fonts/gsap.eot");
  src:url("../fonts/gsap.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gsap.woff") format("woff"),
    url("../fonts/gsap.ttf") format("truetype"),
    url("../fonts/gsap.svg#gsap") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gsap" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gsap" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow-down:before {
  content: "\e000";
}
.icon-icon-arrow-up:before {
  content: "\e001";
}
.icon-icon-calendar:before {
  content: "\e002";
}
.icon-icon-download:before {
  content: "\e003";
}
.icon-icon-location:before {
  content: "\e004";
}
.icon-icon-view:before {
  content: "\e005";
}
.icon-icon-email:before {
  content: "\e006";
}
.icon-icon-menu:before {
  content: "\e007";
}