//Font Sizes
$xx-large: 36px;
$x-large: 28px;
$large: 24px;
$medium: 20px;
$small: 18px;
$x-small: 16px;
$xx-small: 14px;
//Icon Font Sizes
//TODO
//Font Specifics
$regular: 400;
$semi-bold: 600;
$bold: 700;
