<section class="section dark">
    <div class="container">
        <h1>Icons</h1>
        <p><code>&lt;span class="icon blue icon-icon-arrow-down"&gt;&lt;/span&gt;</code>
        </p>
        <p>Customize to the background and color of choice using the relevant classes in the styleguide </p>
        <br />
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon blue icon-icon-arrow-down"></span>
            </div>
            <div class="panel-body">
                <p><b>arrow-down</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon blue icon-icon-arrow-up"></span>
            </div>
            <div class="panel-body">
                <p><b>arrow-up</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon green icon-icon-download"></span>
            </div>
            <div class="panel-body">
                <p><b>download</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon green icon-icon-calendar"></span>
            </div>
            <div class="panel-body">
                <p><b>calendar</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon black icon-icon-location"></span>
            </div>
            <div class="panel-body">
                <p><b>location</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon black icon-icon-view"></span>
            </div>
            <div class="panel-body">
                <p><b>view</b>
                </p>
            </div>
        </div>
        
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon black icon-icon-email"></span>
            </div>
            <div class="panel-body">
                <p><b>email</b>
                </p>
            </div>
        </div>
        <div class="icon-swatch panel-swatch panel panel-default">
            <div class="panel-heading">
                <span class="icon black icon-icon-menu"></span>
            </div>
            <div class="panel-body">
                <p><b>menu</b>
                </p>
            </div>
        </div>
    </div>
</section>