<section>
    <div class="tab">
        <ul class="tab-items text-os-regular">
            <li><a class="active-tab" data-index="tab-item-1" href="javascript:void(0)" onclick="switchTabs(event)">Life On Campus</a></li>
            <li><a data-index="tab-item-2" href="javascript:void(0)" onclick="switchTabs(event)">GSAP</a></li>
            <li><a data-index="tab-item-3" href="javascript:void(0)" onclick="switchTabs(event)">GSPC</a></li>
        </ul>
        <div class="tab-body-container">
            <div data-index="tab-body-1" class="tab-body active-body">Life on Campus tab Data</div>
            <div data-index="tab-body-2" class="tab-body">GSAP tab data</div>
            <div data-index="tab-body-3" class="tab-body">GSPC tab data</div>
        </div>
    </div>
</section>