<section class="section medium">
        <div class="container">
            <h1>Colors</h1>
            <p class="lead">Can be used as text or background colors.
                <br /><code>&lt;span class="blue"&gt;&lt;/span&gt;</code> or <code>&lt;span class="bg-blue"&gt;&lt;/span&gt;</code>
            </p>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-green">
                </div>
                <div class="panel-body">
                    <p><b>Green</b>
                        <br />HEX #86BC25</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-blue">
                </div>
                <div class="panel-body">
                    <p><b>Blue</b>
                        <br />HEX #00A3E0</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-light-gray">
                </div>
                <div class="panel-body">
                    <p><b>Light-Gray</b>
                        <br />HEX #E8EAE9</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-medium-gray">
                </div>
                <div class="panel-body">
                    <p><b>Medium-Gray</b>
                        <br />HEX #D0D0CE</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-gray">
                </div>
                <div class="panel-body">
                    <p><b>Gray</b>
                        <br />HEX #53565A</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading bg-black" style="background:#000;">
                </div>
                <div class="panel-body">
                    <p><b>Black</b>
                        <br />HEX #000</p>
                </div>
            </div>
            <div class="color-swatch panel-swatch panel panel-default">
                <div class="panel-heading" style="background:#fff;">
                </div>
                <div class="panel-body">
                    <p><b>White</b>
                        <br />HEX #fff</p>
                </div>
            </div>
        </div>
    </section>