<section class="section medium">
<div class="container">
	<h1>Content Panel</h1>
	<table class="table">
	<caption>Content panels with images, paragraphs, bullet, etc variants. remove the "image-broad" or "image-narrow" class to display the image as per its aspect ratio</caption>
	<tr>	
		<th class="th">Code Snippets and Design</th>
	</tr>
	<!-- CONTENT PANEL with broad image-->
	<!-- note add class image-broad to the parent div -->
	<tr>
		<td class="td">
			<p>Content panel with broad image <p>
			<code>
			&lt;div class="content-panel image-broad"&gt;
			&lt;img src="images/hero-image-prep.png" alt="content image" /&gt;
			&lt;div class="cp-text-wrapper"&gt;
			&lt;h2 class="text-large text-os-regular black"&gt;
			Overview
			&lt;/h2&gt;
			&lt;p class="text-xx-small text-os-regular black"&gt;
			We collect intent to apply information in March for practitioners who intend to apply to GSAP in the summer of 2017. We understand that it is early in the process and you may still be deciding whether or not to apply; however, submitting the intent to apply with your current intentions will help the leadership team forecast the level of interest this year and start to prepare for the local office business case presentations.
			&lt;/p&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			</code>
		</td>
	</tr>
	<tr>
		<td class="td">
			<div class="content-panel image-broad">
			<img src="images/hero-image-prep.png" alt="content image" />
			<div class="cp-text-wrapper">
			<h2 class="text-large text-os-regular black">
			Overview
			</h2>
			<p class="text-xx-small text-os-regular black">
			We collect intent to apply information in March for practitioners who intend to apply to GSAP in the summer of 2017. We understand that it is early in the process and you may still be deciding whether or not to apply; however, submitting the intent to apply with your current intentions will help the leadership team forecast the level of interest this year and start to prepare for the local office business case presentations.
			</p>
			</div>
			</div>
		</td>		
	</tr>	
	<!-- CONTENT PANEL with narrow image-->
	<!-- note add class image-narrow to the parent div -->
	<tr>
		<td class="td">
			<p>content panel with narrow image</p>
			<code>
			&lt;div class="content-panel image-narrow"&gt;
			&lt;img src="images/hero_roadmap.png" alt="content image" /&gt;
			&lt;div class="cp-text-wrapper"&gt;
			&lt;h2 class="text-large text-os-regular black"&gt;
			Candidate Roadmap
			&lt;/h2&gt;
			&lt;p class="text-xx-small text-os-regular black"&gt;
			The GSPC Candidate Roadmap is a one-stop resource for Analysts / Consultants to understand the full 3-5 year graduate school pr​eparation lifecycle. Whether you are a new Analyst, an experienced Consultant, or somewhere in between, the Candidate Roadmap can help guide your graduate school exploration and preparation process.
			&lt;/p&gt;
			&lt;p class="text-xx-small text-os-regular black"&gt;
			The Roadmap is organized in four unique 12 month phases (on a Fall to Summer timeline). 
			Evaluate which phase you currently belong to and use the Roadmap to determine what activities and events are most relevant to you. To help guide your process, the GSPC website and the newsletter use the Candidate Roadmap construct – each event will be tagged with a phase based on the content and key audience. Once you identify your “phase”, pay particular attention to activities and events targeted to you.
			&lt;/p&gt;
			&lt;a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-regular-icon link-regular"&gt;Candidate Roadmap.pdf&lt;/a&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			</code>
		</td>
	</tr>
	<tr>
		<td class="td">
			<div class="content-panel image-narrow">
			<img src="images/image-roadmap.png" alt="content image" />
			<div class="cp-text-wrapper">
			<h2 class="text-large text-os-regular black">
			Candidate Roadmap
			</h2>
			<p class="text-xx-small text-os-regular black">
			The GSPC Candidate Roadmap is a one-stop resource for Analysts / Consultants to understand the full 3-5 year graduate school pr​eparation lifecycle. Whether you are a new Analyst, an experienced Consultant, or somewhere in between, the Candidate Roadmap can help guide your graduate school exploration and preparation process.
			</p>
			<p class="text-xx-small text-os-regular black">
			The Roadmap is organized in four unique 12 month phases (on a Fall to Summer timeline). 
			Evaluate which phase you currently belong to and use the Roadmap to determine what activities and events are most relevant to you. To help guide your process, the GSPC website and the newsletter use the Candidate Roadmap construct – each event will be tagged with a phase based on the content and key audience. Once you identify your “phase”, pay particular attention to activities and events targeted to you.
			</p>
			<a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-regular-icon link-regular">Candidate Roadmap.pdf</a>
			</div>
			</div>
		</td>		
	</tr>		
	<!-- CONTENT PANEL with sidebar -->
	<tr>
		<td class="td">
			<p>content panel with sidebar </p>
			<code>
			&lt;div class="content-panel sidebar-stats"&gt;
				&lt;div class="row"&gt;
				&lt;div class="col-md-9 cp-text-wrapper"&gt;
				&lt;h2 class="text-large text-os-regular black"&gt;
				Browse Participating Schools
				&lt;/h2&gt;
				&lt;p class="text-xx-small text-os-regular black">
				Start shortlisting your schools at this age itself. If possible, have a visit to the campus to understand the culture better. Below given are schools that are associated with Deloitte. Before starting, refer to:
				&lt;/p&gt;
				&lt;div class="icon-link"&gt;
				&lt;a href="" class="icon-icon-download link-regular-icon link-regular">Chosing the right program&lt;/a&gt;
				&lt;/div&gt;
				&lt;h3 class="text-xx-small text-os-bold">Select a School to Download Profile / Spotlight&lt;/h3&gt;
				&lt;div class="col-md-9 downloadSchoolProfile"&gt;&lt;div class="custom-dropdown-link mar-bottom-20"&gt;
				&lt;div class="icon-icon-arrow-down icon-custom-arrow"&gt;
				&lt;div class="dropdown"&gt;
				&lt;div class="appended-file">&lt;a&gt;&lt;span>Select&lt;/span&gt;&lt;/a&gt;&lt;span class="selected-file"&gt;&lt;/span&gt;&lt;/div&gt; 
				&lt;div class="selection-list"&gt;
				&lt;ul&gt; 
				&lt;li data-value=""&gt;&lt;a&gt;Select&lt;/a&gt;&lt;/li&gt; 
				&lt;li data-value="gsap.eot"&gt;&lt;a&gt;GSAP EOT&lt;/a&gt;&lt;/li&gt;
				&lt;li data-value="gsap.ttf"&gt;&lt;a&gt;GSAP TTF&lt;/a&gt;&lt;/li&gt;
				&lt;li data-value="gsap.woff"&gt;&lt;a&gt;GSAP WOFF&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
				&lt;/div>&lt;/div&gt;&lt;/div&gt;
				&lt;div class="download-file">&lt;a href="../fonts/gsap.eot" class="icon-icon-download link-regular-icon link-regular schoolProfile">Download School Profile&lt;/a>&lt;a href="../fonts/gsap.eot" class="icon-icon-download link-regular-icon link-regular">Download Spotlight&lt;/a&gt;&lt;/div&gt; 
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;aside class="col-md-3 cp-side bg-gray"&gt;
				&lt;div class="cps-row"&gt;
				&lt;div class="green text-xx-large cpsr-no"&gt;50&lt;/div&gt;
				&lt;div class="white text-small cpsr-text" &gt;Grad Students&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class="cps-row"&gt;
				&lt;div class="green text-xx-large cpsr-no"&gt;20&lt;/div&gt;
				&lt;div class="white text-small cpsr-text"&gt;Grad Schools&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class="cps-row"&gt;
				&lt;div class="green text-xx-large cpsr-no"&gt;200+&lt;/div&gt;
				&lt;div class="white text-small cpsr-text"&gt;Alumni&lt;/div&gt;
				&lt;/div&gt;
				&lt;/aside&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			</code>
		</td>
	</tr>
	<tr>
		<td class="td">
			<div class="content-panel sidebar-stats">
				<div class="row">
				<div class="col-md-9 cp-text-wrapper">
				<h2 class="text-large text-os-regular black">
				Browse Participating Schools
				</h2>
				<p class="text-xx-small text-os-regular black">
				Start shortlisting your schools at this age itself. If possible, have a visit to the campus to understand the culture better. Below given are schools that are associated with Deloitte. Before starting, refer to:
				</p>
				<a href="javascript:void(0)" class="icon-icon-download link-regular-icon link-regular">Chosing the right program</a>

				<h3 class="text-xx-small text-os-bold">Select a School to Download Profile / Spotlight</h3>
				<div class="col-md-9 downloadSchoolProfile">
				<div class="custom-dropdown-link mar-bottom-20">
				<div class="icon-icon-arrow-down icon-custom-arrow">
				<div class="dropdown"> 
				<div class="appended-file"><a><span>Select</span></a><span class="selected-file"></span></div> 
				<div class="selection-list"> 
				<ul> 
				<li data-value=""><a>Select</a></li> 
				<li data-value="gsap.eot"><a>GSAP EOT</a></li> 
				<li data-value="gsap.ttf"><a>GSAP TTF</a></li> 
				<li data-value="gsap.woff"><a>GSAP WOFF</a></li> 
				</ul> 
				</div></div></div> 
				<div class="download-file">
					<a href="../fonts/gsap.eot" class="icon-icon-download link-regular-icon link-regular schoolProfile">Download School Profile</a>
					<a href="../fonts/gsap.eot" class="icon-icon-download link-regular-icon link-regular">Download Spotlight</a>
				</div>  
				</div>
				</div>
				</div>
				<aside class="col-md-3 cp-side bg-gray">
				<div class="cps-row">
				<div class="green text-xx-large cpsr-no">50</div>
				<div class="white text-small cpsr-text" >Grad Students</div>
				</div>
				<div class="cps-row">
				<div class="green text-xx-large cpsr-no">20</div>
				<div class="white text-small cpsr-text" >Grad Schools</div>
				</div>
				<div class="cps-row">
				<div class="green text-xx-large cpsr-no" >200+</div>
				<div class="white text-small cpsr-text">Alumni</div>
				</div>
				</aside>
				</div>
			</div>
		</td>		
	</tr>	
	<!-- content panel with bullets -->		
	<!-- note add class image-narrow to the parent div -->
	</tr>		
	<tr>
		<td class="td">
			<p>content panel with narrow image</p>
			<code>
			&lt;div class="content-panel image-narrow"&gt;
			&lt;img src="images/image-eligibilty.png" alt="content image" /&gt;
			&lt;div class="cp-text-wrapper"&gt;
			&lt;h2 class="text-large text-os-regular black"&gt;
			Eligiblity
			&lt;/h2&gt;
			&lt;ul class="bullet-list"&gt;
			&lt;li&gt;
				Candidates must meet the following tenure requirements: BA and BTAs (2 years), DHCs (2 YE ratings), Human Capital and Federal S&O (3 years), and demonstrate a commitment to consulting and a desire to return to Deloitte after graduate school
			&lt;/li&gt;
			&lt;li&gt;
				GSAP is available for consistently high-performing practitioners. We expect GSAP sponsorship candidates to achieve year-end ratings of 1s and 2s (with some tolerance level of 3s, especially in the first year) as well as demonstrate an upward trend of performance ratings over time.
			&lt;/li&gt;
			&lt;li&gt;
				Practitioners may only apply for GSAP sponsorship once.
			&lt;/li&gt;
			&lt;li&gt;
				Practitioners who are approved for GSAP are expected to maintain their high level of performance in their final year with the firm as they prepare to transition to school.
			&lt;/li&gt;
			&lt;li&gt;
				Practitioners must apply and gain acceptance to GSAP one year prior to their planned matriculation to school and are expected to depart within that year.				
			&lt;/li&gt;
			&lt;/ul;&gt;
			&lt;a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-regular-icon link-regular"&gt;Overview and Guideliness FY19.pdf&lt;/a&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			</code>
		</td>
	</tr>
	<tr>
		<td class="td">
			<div class="content-panel image-narrow">
			<img src="images/image-eligibilty.png" alt="content image" />
			<div class="cp-text-wrapper">
			<h2 class="text-large text-os-regular black">
				Eligiblity
			</h2>
			<ul class="bullet-list">
			<li>
				Candidates must meet the following tenure requirements: BA and BTAs (2 years), DHCs (2 YE ratings), Human Capital and Federal S&O (3 years), and demonstrate a commitment to consulting and a desire to return to Deloitte after graduate school
			</li>	
			<li>
				GSAP is available for consistently high-performing practitioners. We expect GSAP sponsorship candidates to achieve year-end ratings of 1s and 2s (with some tolerance level of 3s, especially in the first year) as well as demonstrate an upward trend of performance ratings over time.
			</li>
			<li>
				Practitioners may only apply for GSAP sponsorship once.
			</li>
			<li>
				Practitioners who are approved for GSAP are expected to maintain their high level of performance in their final year with the firm as they prepare to transition to school.
			</li>
			<li>
				Practitioners must apply and gain acceptance to GSAP one year prior to their planned matriculation to school and are expected to depart within that year.
			</li>
			</ul>
			<a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-regular-icon link-regular">Overview and Guideliness FY19.pdf</a>
			</div>
			</div>
		</td>		
	</tr>			
	</table>		
</div>
</section>

<script src="../scripts/gsap-dropdown.js"></script>
