<section class="section medium">
<div class="container">
	<h1>Links</h1>
	<table class="table">
	<caption>Links with regular, download, view, calendar variants.</caption>
	<tr>	
		<th class="th">Code Snippet</th>
		<th class="th">Design</th>
	</tr>
	<!-- regular link -->
	<tr>
		<td class="td">
			<p>Regular link<p>
			<code>&lt;a href="javascript:void(0)" target="_blank" class="link-regular"&gt;I am a regular link&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="javascript:void(0)" target="_blank" class="link-regular">I am a regular link</a>
		</td>
	</tr>
	<!-- email link -->
	<tr>
		<td class="td">
			<p>Email link<p>
			<code>&lt;a href="mailto:someone@example.com" target="_blank" class="link-regular"&gt;someone@example.com&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="mailto:someone@example.com" target="_blank" class="link-regular">someone@example.com</a>
		</td>
	</tr>	
	<!-- telephone link -->
	<tr>
		<td class="td">
			<p>Telephone link<p>
			<code>&lt;a href="tel:9999999999" target="_blank" class="link-regular"&gt;9999999999&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="tel:9999999999" target="_blank" class="link-regular">9999999999</a>
		</td>
	</tr>	
	<!-- pdf download link -->
	<tr>
		<td class="td">
			<p>PDF download link</p>
			<code>&lt;a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-newline link-regular-icon link-regular"&gt;Sample.pdf&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="icon-icon-download link-newline link-regular-icon link-regular">Sample.pdf</a>
		</td>
	</tr>	
	<!-- faq download link -->
	<tr>
		<td class="td">
			<p>FAQ link</p>
			<code>&lt;a href="javascript:void(0)" target="_blank" class="icon-icon-view link-newline link-regular-icon link-regular"&gt;View all FAQs&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="javascript:void(0)" target="_blank" class="icon-icon-view link-newline link-regular-icon link-regular">View all FAQs</a>
		</td>
	</tr>	
	<!-- calendar link -->
	<tr>
		<td class="td">
			<p>Calendar link</p>
			<code>&lt;a href="javascript:void(0)" target="_blank" class="icon-icon-calendar link-newline link-regular-icon link-regular"&gt;Calendar invite&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="javascript:void(0)" target="_blank" class="icon-icon-calendar link-newline link-regular-icon link-regular">Calendar invite</a>
		</td>
	</tr>
	<!-- newline link -->
	<tr>
		<td class="td">
			<p>Newline link</p>
			<code>&lt;a href="javascript:void(0)" target="_blank" class="link-newline link-regular"&gt;I am a newline link&lt;/a&gt;</code>
		</td>
		<td class="td">
			<a href="javascript:void(0)" target="_blank" class="link-newline link-regular">I am a newline link</a>
		</td>
	</tr>		
	</table>		
</div>
</section>