<header class="primary-menu menu-open">
    <div class="hidden-md-down">
    <div class="logo"><img src="images/logo.png" alt="logo icon"/></div>
    </div>
    <ul>
        <li><a href="/pages/home.html">Home</a></li>
        <li><a href="/pages/interest-and-prep.html">Interest & Prep</a></li>
        <li><a href="/pages/sponsorship.html">Sponsorship</a></li>
        <li><a href="/pages/apply-to-school.html">Apply to School</a></li>
        <li><a href="/pages/departure.html">Departure</a></li>
        <li><a href="/pages/life-on-campus.html">Life on Campus</a></li>
        <li class="active-menu-item"><a href="#">FAQ</a></li>        
    </ul> 
</header> 

<div class="text-medium">
    <div class="code-snippet-label">Code Snippet</div>
<pre class="code">
        &lt;header class=&quot;primary-menu&quot;&gt;
            &lt;div class=&quot;logo&quot;&gt;&lt;img src=&quot;images/logo.png&quot; alt=&quot;logo icon&quot;/&gt;&lt;/div&gt; 
                &lt;ul&gt; 
                    &lt;li&gt;Home&lt;/li&gt;
                    &lt;li&gt;Interest &amp; Prep&lt;/li&gt;
                    &lt;li&gt;Sponsorship&lt;/li&gt;
                    &lt;li&gt;Applications&lt;/li&gt;
                    &lt;li&gt;Departure&lt;/li&gt;
                    &lt;li&gt;Life on Campus&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/header&gt;
</pre>
</div>