<div class="section">
    <h2>Carousel Example</h2>  
    <div class="content-panel">
      <div class="cp-text-wrapper">
        <h2 class= "text-large text-os-regular black">Deloitte in news</h2>

        <div class="carousel carousel-specify text-os-regular text-xx-small"> 

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p class="text-os-semi-bold date">May 2nd, 2017</p>
                    <p class= "link-regular">Deloitte Acquires Web Decisions</p>
                    <p >Deloitte enhances customer experience capabilities through acquisition of Web Decisions on May 2nd, 2017. Web Decisions is known for solving complex data management and campaign management challenges for clients in the retail, e-commerce and publishing sectors. Web Decision’s capabilities are poised to enhance Deloitte Digital’s Customer Experience Value (CXv) offering.</p>
                  </div>
              
                  <div class="carousel-item">
                      <p class="text-os-semi-bold date">June 2nd, 2017</p>
                      <p class= "link-regular">Deloitte Acquires Web Decisions</p>
                      <p >Deloitte enhances customer experience capabilities through acquisition of Web Decisions on May 2nd, 2017. Web Decisions is known for solving complex data management and campaign management challenges for clients in the retail, e-commerce and publishing sectors. Web Decision’s capabilities are poised to enhance Deloitte Digital’s Customer Experience Value (CXv) offering.</p>
                    </div>
              
                  <div class="carousel-item">
                      <p class="text-os-semi-bold date">July 2nd, 2017</p>
                      <p class= "link-regular">Deloitte Acquires Web Decisions</p>
                      <p >Deloitte enhances customer experience capabilities through acquisition of Web Decisions on May 2nd, 2017. Web Decisions is known for solving complex data management and campaign management challenges for clients in the retail, e-commerce and publishing sectors. Web Decision’s capabilities are poised to enhance Deloitte Digital’s Customer Experience Value (CXv) offering.</p>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>