<section class="section medium">
	<div class="container">
		<h1>Dropdown</h1>
		<br/>
		<h2>Custom dropdown</h2><br/>
		<p class="text-xx-small">Custom dropdown. Replace the text inside li with your desired text.</p>
		<code>&lt;div class="icon-icon-arrow-down icon-custom-arrow"&gt;</code> 
		<br/><code>&lt;div class="dropdown"&gt;</code> 
		<br/><code>&lt;div class="appended-file"&gt;&lt;a&gt;&lt;span&gt;Select&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;</code> 
		<br/><code>&lt;div class="selection-list"&gt;</code> 
		<br/><code>&lt;ul&gt;</code> 
		<br/><code>&lt;li&gt;&lt;a&gt;Select&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li&gt;&lt;a&gt;Option 1&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li&gt;&lt;a&gt;Option 2&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li&gt;&lt;a&gt;Option 3&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;/ul&gt;</code>
		<br/><code>&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</code> 
		<br/><br/>
		<!-- Custom Dropdown -->
		<div class="icon-icon-arrow-down icon-custom-arrow">
			<div class="dropdown">
				<div class="appended-file">
				  <a><span>Select</span></a>
				</div>
				<div class="selection-list">
					<ul>
						<li><a>Select</a></li>
						<li><a>Option 1</a></li>
						<li><a>Option 2</a></li>
						<li><a>Option 3</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<br/><br/><h2>Custom dropdown with download link</h2><br/>
		<p class="text-xx-small">Custom dropdown with download link. Replace the text and the respective data-value inside li with your desired text and value.</p>
		<p class="text-xx-small">downloadFile method is used to download the selected file from the dropdown.</p>
		<br/>
		<code>&lt;div class="custom-dropdown-link"&gt;</code> 
		<code>&lt;div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align"&gt;</code> 
		<br/><code>&lt;div class="dropdown"&gt;</code> 
		<br/><code>&lt;div class="appended-file"&gt;&lt;a&gt;&lt;span&gt;Select&lt;/span&gt;&lt;/a&gt;&lt;span class="selected-file"&gt;&lt;/span&gt;&lt;/div&gt;</code> 		
		<br/><code>&lt;div class="selection-list"&gt;</code> 
		<br/><code>&lt;ul&gt;</code> 
		<br/><code>&lt;li data-value=""&gt;&lt;a&gt;Select&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.eot"&gt;&lt;a&gt;GSAP EOT&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.ttf"&gt;&lt;a&gt;GSAP TTF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.woff"&gt;&lt;a&gt;GSAP WOFF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;/ul&gt;</code>
		<br/><code>&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</code>
		<br/><code>&lt;div class="download-file"&gt;&lt;span class="icon-icon-download link-regular dropdown-icon-align" onclick="downloadFile(this)"&gt;Download&lt;/span&gt;&lt;/div&gt;</code>
		<br/><code>&lt;/div&gt;</code> 
		<br/><br/>
		<!-- Custom Dropdown with Link -->
		<div class="custom-dropdown-link">
			<div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align">
				<div class="dropdown">
					<div class="appended-file">
					  <a><span>Select</span></a>
					  <span class="selected-file"></span>
					</div>
					<div class="selection-list">
						<ul>
							<li data-value=""><a>Select</a></li>
							<li data-value="gsap.eot"><a>GSAP EOT</a></li>
							<li data-value="gsap.ttf"><a>GSAP TTF</a></li>
							<li data-value="gsap.woff"><a>GSAP WOFF</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="download-file"><span class="icon-icon-download link-regular dropdown-icon-align" onclick="downloadFile(this)">Download</span></div>
		</div>
		
		<br/><br/><h2>Custom dropdown with separate download link</h2><br/>
		<p class="text-xx-small">Custom dropdown with separate download link. Replace the text and the respective data-value inside li with your desired text and value.</p>
		<p class="text-xx-small">downloadFile method is used to download the selected file from the dropdown.</p>
		<br/>
		<code>&lt;div class="custom-dropdown-link mar-bottom-20"&gt;</code> 
		<code>&lt;div class="icon-icon-arrow-down icon-custom-arrow"&gt;</code> 
		<br/><code>&lt;div class="dropdown"&gt;</code> 
		<br/><code>&lt;div class="appended-file"&gt;&lt;a&gt;&lt;span&gt;Select&lt;/span&gt;&lt;/a&gt;&lt;span class="selected-file"&gt;&lt;/span&gt;&lt;/div&gt;</code> 		
		<br/><code>&lt;div class="selection-list"&gt;</code> 
		<br/><code>&lt;ul&gt;</code> 
		<br/><code>&lt;li data-value=""&gt;&lt;a&gt;Select&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.eot"&gt;&lt;a&gt;GSAP EOT&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.ttf"&gt;&lt;a&gt;GSAP TTF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.woff"&gt;&lt;a&gt;GSAP WOFF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;/ul&gt;</code>
		<br/><code>&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</code>
		<br/><code>&lt;div class="download-file"&gt;&lt;span class="icon-icon-download link-regular dropdown-icon-align mar-left-0" onclick="downloadFile(this)"&gt;Download&lt;/span&gt;&lt;/div&gt;</code>
		<br/><code>&lt;/div&gt;</code> 
		<br/><br/>
		<!-- Custom Dropdown with separate Link -->
		<div class="custom-dropdown-link mar-bottom-20">
			<div class="icon-icon-arrow-down icon-custom-arrow">
				<div class="dropdown">
					<div class="appended-file">
					  <a><span>Select</span></a>
					  <span class="selected-file"></span>
					</div>
					<div class="selection-list">
						<ul>
							<li data-value=""><a>Select</a></li>
							<li data-value="gsap.eot"><a>GSAP EOT</a></li>
							<li data-value="gsap.ttf"><a>GSAP TTF</a></li>
							<li data-value="gsap.woff"><a>GSAP WOFF</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="download-file"><span class="icon-icon-download link-regular dropdown-icon-align mar-left-0" onclick="downloadFile(this)">Download</span></div>
		</div>
		
		<br/><br/><h2>Custom dropdown with submit button as link inside a form</h2><br/>
		<p class="text-xx-small">Custom dropdown with submit button as link inside a form.Replace the text and the respective data-value inside li with your desired text and value.</p>
		<code>&lt;div class="custom-dropdown-link"&gt;</code> 
		<code>&lt;div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align"&gt;</code> 
		<br/><code>&lt;div class="dropdown"&gt;</code> 
		<br/><code>&lt;div class="appended-file"&gt;&lt;a&gt;&lt;span&gt;Select&lt;/span&gt;&lt;/a&gt;&lt;span class="selected-file"&gt;&lt;/span&gt;&lt;/div&gt;</code> 		
		<br/><code>&lt;div class="selection-list"&gt;</code> 
		<br/><code>&lt;ul&gt;</code> 
		<br/><code>&lt;li data-value=""&gt;&lt;a&gt;Select&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.eot"&gt;&lt;a&gt;GSAP EOT&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.ttf"&gt;&lt;a&gt;GSAP TTF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;li data-value="gsap.woff"&gt;&lt;a&gt;GSAP WOFF&lt;/a&gt;&lt;/li&gt;</code> 
		<br/><code>&lt;/ul&gt;</code>
		<br/><code>&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</code>
		<br/><code>&lt;button type="submit"&gt;</code> 
		<br/><code>&lt;span class="icon-icon-download link-regular dropdown-icon-align"&gt;Download&lt;/span&gt;</code>
		<br/><code>&lt;/button&gt;</code>
		<br/><code>&lt;/div&gt;</code> 
		<br/><br/>
		<!-- Custom Dropdown with submit Link -->
		<form action="" method="">
			<div class="custom-dropdown-link">
				<div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align">
					<div class="dropdown">
						<div class="appended-file">
						  <a><span>Select</span></a>
						  <span class="selected-file"></span>
						</div>
						<div class="selection-list">
							<ul>
								<li data-value=""><a>Select</a></li>
								<li data-value="gsap.eot"><a>GSAP EOT</a></li>
								<li data-value="gsap.ttf"><a>GSAP TTF</a></li>
								<li data-value="gsap.woff"><a>GSAP WOFF</a></li>
							</ul>
						</div>
					</div>
				</div>

				<button type="submit">
					<span class="icon-icon-download link-regular dropdown-icon-align">Download</span>
				</button>		
			</div>
		</form>	
		
	</div>
</section>

<!-- dropdown js -->
<script src="scripts/gsap-dropdown.js"></script>