<section class="section medium">
<div class="container">
<h1>Callouts</h1>
<table class="table">
<caption>Callouts for home, interest and prep, sponsorship, and apply for school page</caption>
<tr>
<th class="th">Code Snippet</th>
<th class="th">Design</th>
</tr>
<!-- White callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-white"&gt;
		<br/>
		&lt;h2>GMAT Courses&lt;/h2&gt;
		<br/>
		&lt;p>There are a few GMAT course options available, and Deloitte offers discounts on most of these. See the list below for courses and the discount codes&lt;/p&gt;
		<br/>
		&lt;a href="javascript:void(0)" class="icon-icon-view link-newline link-regular-icon link-regular"&gt;View GMAT Course List&lt;/a&gt;
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-white">
	<h2>GMAT Courses</h2>
	<p>There are a few GMAT course options available, and Deloitte offers discounts on most of these. See the list below for courses and the discount codes</p>
	<a href="javascript:void(0)" class="icon-icon-view link-newline link-regular-icon link-regular">View GMAT Course List</a>
	</div>
</td>
</tr>
<!-- Blue callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-blue"&gt;
		<br/>
		&lt;h2>Begin Application Process&lt;/h2&gt;
		<br/>
		&lt;p>Applications will be available on &lt;b&gt;April 28th&lt;/b&gt;. Application due date, deck submission date on &lt;b&gt;June 6th&lt;/b&gt;.&lt;/p&gt;
		<br/>
		&lt;input type="button" class="button-wbg-blue" value="Apply Now"/&gt;
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-blue">
	<h2>Begin Application Process</h2>
	<p>Applications will be available on <b>April 28th</b>. Application due date, deck submission date on <b>June 6th</b>.</p>
	<input type="button" class="button-wbg-blue" value="Apply Now"/>
	</div>
</td>
</tr>
<!-- Black callout -->
<tr>	
<td class="td">
	<code>
		&lt;div class="callout callout-black"&gt;
		<br/>
		&lt;h2>Interested in applying to GSAP?&lt;/h2&gt;
		<br/>
		&lt;p>Determine eligibility by reviewing criteria in the FY19 Overview and Guidelines.&lt;/p&gt;
		<br/>
		&lt;a href="javascript:void(0)" class="icon-icon-download link-newline link-regular-icon link-regular"&gt;Overview and Guideliness FY19.pdf&lt;/a&gt;
		<br/>
		&lt;p>Eligible practitioners may submit their Intent to Apply in Spring 2018. The intent to apply period has closed for 2017.&lt;/p&gt;
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-black">
	<h2>Interested in applying to GSAP?</h2>
	<p>Determine eligibility by reviewing criteria in the FY19 Overview and Guidelines.</p>
	<a href="javascript:void(0)" class="icon-icon-download link-newline link-regular-icon link-regular">Overview and Guideliness FY19.pdf</a>
	<p>Eligible practitioners may submit their Intent to Apply in Spring 2018. The intent to apply period has closed for 2017.</p>
	</div>
</td>
</tr>
<!-- Quick Links callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-quick-links"&gt;
		<br/>
		&lt;h2>Quick Links&lt;/h2&gt;
		<br/>
		&lt;a href="javascript:void(0)" target="_blank" class="link-newline link-regular"&gt;Playbooks&lt;/a&gt;
		<br/>
		&lt;a href="javascript:void(0)" target="_blank" class="link-newline link-regular"&gt;Resources&lt;/a&gt;
		<br/>
		&lt;a href="javascript:void(0)" target="_blank" class="link-newline link-regular"&gt;Overview and Guideliness FY19&lt;/a&gt;
		<br/>
		&lt;a href="javascript:void(0)" target="_blank" class="link-newline link-regular"&gt;Application Link&lt;/a&gt;		
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-quick-links">
	<h2>Quick Links</h2>
	<a href="javascript:void(0)" target="_blank" class="link-newline link-regular">Playbooks</a>
	<a href="javascript:void(0)" target="_blank" class="link-newline link-regular">Resources</a>
	<a href="javascript:void(0)" target="_blank" class="link-newline link-regular">Overview and Guideliness FY19</a>
	<a href="javascript:void(0)" target="_blank" class="link-newline link-regular">Application Link</a>
	</div>
</td>		
</tr>
<!-- Key Contact callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-key-contact"&gt;
		<br/>
		&lt;h2>Key Contacts&lt;/h2&gt;
		<br/>
		&lt;p&gt;National Tuition Mailbox&lt;/p&gt;
		<br/>
		&lt;a href="mailto:usnationalconsultingtuitionreimbursement<br/>@deloitte.com" target="_blank" class="link-newline link-regular"&gt;usnationalconsultingtuitionreimbursement<br/>@deloitte.com&lt;/a&gt;
		<br/>
		&lt;p&gt;GSAP Mailbox&lt;/p&gt;
		<br/>
		&lt;a href="usgsap@deloitte.com" target="_blank" class="link-newline link-regular"&gt;usgsap@deloitte.com&lt;/a&gt;
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-key-contact">
	<h2>Key Contacts</h2>
	<p>National Tuition Mailbox</p>
	<a href="mailto:usnationalconsultingtuitionreimbursement@deloitte.com" target="_blank" class="link-newline link-regular">usnationalconsultingtuitionreimbursement@deloitte.com</a>
	<p>GSAP Mailbox</p>
	<a href="mailto:usgsap@deloitte.com" target="_blank" class="link-newline link-regular">usgsap@deloitte.com</a>
	</div>
</td>		
</tr>
<!-- FAQ callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-faq"&gt;
		<br/>
		&lt;a href="javascript:void(0)" class="icon-icon-view link-newline link-regular-icon link-regular"&gt;View All FAQs&lt;/a&gt;	
		<br/>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-faq">
	<a href="javascript:void(0)" class="icon-icon-view link-regular-icon link-regular">View All FAQs</a>
	</div>
</td>		
</tr>
<!-- Newsletter callout -->
<tr>
<td class="td">
	<code>
	&lt;div class="callout callout-regular"&gt;
	&lt;h2&gt;Newsletterlt;&lt;/h2&gt;
	&lt;p&gt;Download the PDF postings of the GSAP newsletter here by the month&lt;/p&gt;
	&lt;div class="custom-dropdown-link"&gt; 
		&lt;div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align"&gt; 
			&lt;div class="dropdown"&gt; 
				&lt;div class="appended-file"&gt;&lt;a&gt;&lt;span&gt;Select&lt;/span>&lt;/a&gt;&lt;span class="selected-file"&gt;&lt;/span&gt;&lt;/div&gt; 
				&lt;div class="selection-list"&gt;
					&lt;ul&gt; 
						&lt;li data-value=""&gt;&lt;a>Select&lt;/a&gt;&lt;/li&gt;
						&lt;li data-value="gsap.eot"&gt;&lt;a&gt;GSAP EOT&lt;/a&gt;&lt;/li&gt; 
						&lt;li data-value="gsap.ttf"&gt;&lt;a&gt;GSAP TTF&lt;/a&gt;&lt;/li&gt;
						&lt;li data-value="gsap.woff"&gt;&lt;a>GSAP WOFF&lt;/a&gt;&lt;/li&gt; 
					&lt;/ul&gt; 
				&lt;/div&gt;
			&lt;/div&gt;
		<&lt;div&gt; 
		&lt;div class="download-file"&gt;&lt;span class="icon-icon-download link-regular dropdown-icon-align" onclick="downloadFile(this)">Download&lt;/span&gt;&lt;/div&gt; 
	&lt;/div&gt;	
	&lt;/div&gt;
	</code> 
</td>
<td class="td">
	<div class="callout callout-regular">
	<h2>Newsletter</h2>
	<p>Download the PDF postings of the GSAP newsletter here by the month</p>
	<div class="custom-dropdown-link"> 
		<div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align"> 
			<div class="dropdown"> 
				<div class="appended-file"><a><span>Select</span></a><span class="selected-file"></span></div> 
				<div class="selection-list"> 
					<ul> 
						<li data-value=""><a>Select</a></li> 
						<li data-value="gsap.eot"><a>GSAP EOT</a></li> 
						<li data-value="gsap.ttf"><a>GSAP TTF</a></li> 
						<li data-value="gsap.woff"><a>GSAP WOFF</a></li> 
					</ul> 
				</div>
			</div>
		</div> 
		<div class="download-file"><span class="icon-icon-download link-regular dropdown-icon-align" onclick="downloadFile(this)">Download</span></div> 
	</div>
	</div>
</td>	
</tr>
<!-- Resources callout -->
<tr>
<td class="td">
	<code>
		&lt;div class="callout callout-regular"&gt;
		<br/>
		&lt;h2&gt;Application Resources&lt;/h2&gt;
		&lt;p&gt;Check out the Application Resources for reference. Submission is due on June 6th&lt;/a&gt;	
		<br/>
		&lt;a href="javascript:void(0)" class="icon-icon-view link-newline link-regular-icon link-regular"&gt;Application Resource.pdf&lt;/a&gt;
		</br>
		&lt;/div&gt;	
	</code> 
</td>
<td class="td">
	<div class="callout callout-regular">
	<h2>Application Resources</h2>
	<p>Check out the Application Resources for reference. Submission is due on June 6th</p>
	<a href="javascript:void(0)" class="icon-icon-view link-newline link-regular-icon link-regular">Application Resource.pdf</a>
	</div>
</td>	
</tr>
</table>		
</div>
</section>