<section class="section medium">
<div class="container">
	<h1>Buttons</h1>
	<table class="table">
	<caption>Buttons with blue,green and black variants. Replace "Click Me" with your choice of text</caption>
	<tr>	
		<th class="th">Code Snippet</th>
		<th class="th">Design</th>
	</tr>
	<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-blue" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-blue" value="Click Me" />
		</td>
	</tr>
	<tr>	
		<td class="td">
			<code>&lt;input type="button" class="button-bg-blue" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-bg-blue" value="Click Me" />
		</td>
	</tr>
	<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-wbg-blue" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-wbg-blue" value="Click Me" />
		</td>		
	</tr>
	<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-green" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-green" value="Click Me" />
		</td>
	</tr>
	<tr>	
		<td class="td">
			<code>&lt;input type="button" class="button-bg-green" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-bg-green" value="Click Me" />
		</td>
	</tr>
	<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-wbg-green" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-wbg-green" value="Click Me" />
		</td>		
	</tr>
		<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-black" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-black" value="Click Me" />
		</td>
	</tr>
	<tr>	
		<td class="td">
			<code>&lt;input type="button" class="button-bg-black" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-bg-black" value="Click Me" />
		</td>
	</tr>
	<tr>
		<td class="td">
			<code>&lt;input type="button" class="button-wbg-black" value="Click Me"/&gt;</code> 
		</td>
		<td class="td">
			<input type="button" class="button-wbg-black" value="Click Me" />
		</td>		
	</tr>
	</table>	
	
</div>
</section>