<div class="contact-type">
        <h2 class="text-center">Single contact card</h2>
<section class="section-contactcard">
    <div class="container">
        <img src="images/contact1.png"/>
        <div class="my-auto pl-3">
                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                <p class="text-xx-small mb-0 ">Content manager</p>
        </div>
               
    </div>
    <legend class="mt-2"></legend>
</section>
<h2 >Code snippet</h2>
<code>
        &lt;section class="section-contactcard"&gt;
                &lt;div class="container"&gt;
                    &lt;img src="images/contact1.png"/&gt;
                    &lt;div class="my-auto pl-3"&gt;
                            &lt;p class="text-xx-small text-os-bold mb-0"&gt;Katrina Holmes&lt;/p&gt;
                            &lt;p class="text-xx-small mb-0 "&gt;Content manager&lt;/p&gt;
                    &lt;/div&gt;
                           
                &lt;/div&gt;
                &lt;legend class="mt-2"&gt;&lt;/legend&gt;
            &lt;/section&gt;
</code>
</div>
<br>
<div class="contact-type">
    <h2 class="text-center">Horizontal contact alignment</h2>
<div class="row">
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact1.png"/>
                            <div class="my-auto pl-3">
                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                    <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact2.png"/>
                            <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
</div>
<div class="row">
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact3.png"/>
                            <div class="my-auto pl-3">
                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                    <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact4.png"/>
                            <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
</div>
<div class="row">
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact5.png"/>
                            <div class="my-auto pl-3">
                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                    <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
        <div class="col-sm-6">
                <section class="section-contactcard">
                        <div class="container">
                            <img src="images/contact6.png"/>
                            <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                            </div>
                                
                        </div>
                        <legend class="mt-2"></legend>
                    </section>
        </div>
    </div>
<h2>Code Snippet</h2>
<code>
        &lt;div data-index="tab-body-1" class="tab-body active-body"&gt;
                &lt;div class="row"&gt;
                        &lt;div class="col-sm-6"&gt;
                                &lt;section class="section-contactcard"&gt;
                                        &lt;div class="container"&gt;
                                            &lt;img src="images/contact1.png"/&gt;
                                            &lt;div class="my-auto pl-3"&gt;
                                                    &lt;p class="text-xx-small text-os-bold mb-0"&gt;Katrina Holmes&lt;/p&gt;
                                                    &lt;p class="text-xx-small mb-0 "&gt;Content manager&lt;/p&gt;
                                            &lt;/div&gt;
                                                
                                        &lt;/div&gt;
                                        &lt;legend class="mt-2"&gt;&lt;/legend&gt;
                                    &lt;/section&gt;
                        &lt;/div&gt;
                        &lt;div class="col-sm-6"&gt;
                                &lt;section class="section-contactcard"&gt;
                                        &lt;div class="container"&gt;
                                            &lt;img src="images/contact2.png"/&gt;
                                            &lt;div class="my-auto pl-3"&gt;
                                                &lt;p class="text-xx-small text-os-bold mb-0"&gt;Katrina Holmes&lt;/p&gt;
                                                &lt;p class="text-xx-small mb-0 "&gt;Content manager&lt;/p&gt;
                                            &lt;/div&gt;
                                                
                                        &lt;/div&gt;
                                        &lt;legend class="mt-2"&gt;&lt;/legend&gt;
                                    &lt;/section&gt;
                        &lt;/div&gt;
                &lt;/div&gt;
                //repeat the code n times for n rows
</code>

</div>
<br>
<div class="contact-type">
    <h2 class="text-center">Vertical contact alignment</h2>
<div class="row">
        <div class="col-sm-12">
                <section class="section-contactcard">
                    <div class="container">
                        <img src="images/contact1.png"/>
                        <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                        </div>
                            
                    </div>
                    <legend class="mt-2"></legend>
                </section>
                <section class="section-contactcard">
                    <div class="container">
                        <img src="images/contact2.png"/>
                        <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                        </div>
                            
                    </div>
                    <legend class="mt-2"></legend>
                </section>
                <section class="section-contactcard">
                    <div class="container">
                        <img src="images/contact3.png"/>
                        <div class="my-auto pl-3">
                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                <p class="text-xx-small mb-0 ">Content manager</p>
                        </div>
                            
                    </div>
                    <legend class="mt-2"></legend>
                </section>
        </div>
    </div>
    <h2>Code Snippet</h2>
    <code>
            &lt;div class="row"&gt;
                    &lt;div class="col-sm-12"&gt;
                            &lt;section class="section-contactcard"&gt;
                                &lt;div class="container"&gt;
                                    &lt;img src="images/contact1.png"/&gt;
                                    &lt;div class="my-auto pl-3"&gt;
                                            &lt;p class="text-xx-small text-os-bold mb-0"&gt;Katrina Holmes&lt;/p&gt;
                                            &lt;p class="text-xx-small mb-0 "&gt;Content manager&lt;/p&gt;
                                    &lt;/div&gt;
                                        
                                &lt;/div&gt;
                                &lt;legend class="mt-2"&gt;&lt;/legend&gt;
                            &lt;/section&gt;
    </code>
</div>
