a.external-link {
    color: #00a3e0;
	font-family: Open Sans;
	text-decoration: none;
	padding-top: 2px;
	display: block;
	font-size: 14px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gsap" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.icon-icon-external-link:before {
	content: "\e005";
    font-size: 30px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline;
    margin-top: -2px;
}

a.button-wbg-blue {
	background: #fff;
	border: 1px solid #00a3e0;
	color: #00a3e0
}
a.button-wbg-blue:active, .button-wbg-blue:hover {
	color: #fff
}

a.button-wbg-blue:hover {
	background: #7adbff;
	border: 1px solid #7adbff
}

a.button-wbg-blue:active {
	background: #007ead;
	border: 1px solid #007ead
}
a.download-link {
    color: #00a3e0;
	font-family: Open Sans;
	text-decoration: none;
	padding-top: 2px;
	display: block;
	font-size: 14px;
}
a.icon-icon-download-link:before {
	content: "\e003";
    font-size: 30px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline;
    margin-top: -2px;
}

a.quick-links {
	color: #00a3e0;
	font-family: Open Sans;
	text-decoration: none;
	display: block;
}
a.quick-links:hover {
	text-decoration: none;
	color: #0056b3
}
