@import 'utilities/utilities';
.apply-to-school-container {
  .file-details {
    margin-bottom: 20px;
    .dropdown-icon-align {
      margin-left: 0;
    }
  }
  .callout {
    .dropdown-icon-align {
      margin-left: 0;
    }
  }
  .contacts-section {
    margin-bottom: 20px;
  }
}