@import 'utilities/utilities';
.faq-content-wrapper {
    padding:0;
  .faq-page-title {
    padding: 20px 20px 32px 20px;
  }
  .faq-container{
     .faq-item{
        .faq-item-title{
            height: 45px;
            background-color: $medium-gray;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
        .faq-item-body{
            padding:20px;
            background-color: $off-white;
            .faq-question{
                display: flex;
                align-items: center;
                font-size: $xx-small;
                cursor: pointer;
                .green-dot{
                    display: inline-block;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: $green ;
                }
            }
            .faq-answer > div{
                padding-top:20px;
                padding-bottom: 20px;
                padding-left: 15px;
            }
        }
     }
  }
}
