@import 'utilities/utilities';
body{
    font-family: 'Open Sans', sans-serif;
    color: $black;
    
    .main-content{
        padding: 0 20px 20px 20px;
        margin: 0;
        background: $light-gray;        
    }
    .home-page-container{
        /*padding: 0 20px;*//* RD - made it generic */
            .content-panel{
                .section-contactcard{
                    img{
                        width: auto
                    }
                }
                
            } 
    }
}
@media only screen and (min-width:768px){
    .separator{
        display: none;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body{
          .main-content{
              padding: 0;
              margin: 0;
      
          }
      }

}