<form{{ attributes }}>
    <div class="login-form-elements">
        <div class="input-section">
            {{ element.name }} {# username element #}
        </div>
        <div class="input-section">
            {{ element.pass }} {# password element #}
        </div>
    </div>
    {{ element.form_build_id }} {# required #}
    {{ element.form_id }} {# required #}
    <div class="row pt-3 pb-4 phone-fix">
     {{ element.actions.submit }}
    </div>
</form>