html, body, .main-container{
height: 100%;
background: #fff;
}

.browserupgrade {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* Space out content a bit */
*{
font-family: 'Open Sans', sans-serif;
src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

.container {
 max-width: 100%;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
padding-right: 1rem;
padding-left: 1rem;
}

/* Custom page header */
.header {
height: 10%;  
padding-bottom: 1rem;
background: #86BC25;
}

.main-container .header{
padding: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
margin-top: 0;
margin-bottom: 0;
line-height: 3rem;
}

/* Custom page footer */
.footer {
height: 10%;
padding-top: 1.5rem;
padding-bottom: 1rem;
background: #E8EAE9;
color: #777;
border-top: .05rem solid #e5e5e5;
p{
  padding-right: 20px;
}
}
.components-container{
  height: 80%;
}
/* Customize container */
@media (min-width: 48em) {
.container {
  // max-width: 46rem;

}
}
.container-narrow > hr {
margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
text-align: center;
border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
padding: .75rem 1.5rem;
font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
margin: 3rem 0;
}
.marketing p + h4 {
margin-top: 1.5rem;
}
.nav-pills .nav-link{
color: #000;
}


.panel-swatch {
display: inline-block;
vertical-align: top;
margin: 15px 10px;
width: 105px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
}

.panel-swatch .panel-body {
padding: 10px 5px;
background-color: #fff;
}

.panel-swatch .panel-body p {
font-size: 11px;
margin: 0;
text-align: center;
text-transform: uppercase;
color: #636466;
}

.panel-swatch .panel-heading {
width: 100%;
height: 100px;
border: none;
border: 1px solid #eee;
}



/*LEFT MENU*/
#sidebar-wrapper {
height: 100%;
background: #1a1a1a;
// min-height: 560px;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

#sidebar{
width: 20%;
height: 100%;

}
#component-placeholder{
width: 80%;
height: 100%;

position: relative;
padding: 20px;
// max-height: 560px;
overflow: auto;
}
.sidebar-nav {
margin: 0;
padding: 0;
list-style: none;    
}

.sidebar-nav li {
position: relative; 
line-height: 20px;
display: inline-block;
width: 100%;
}

.sidebar-nav li:before {
content: '';
position: absolute;
top: 0;
left: 0;
z-index: -1;
height: 100%;
width: 3px;
background-color: #1c1c1c;
-webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
   -ms-transition:  width .2s ease-in;
		transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
color: #fff;
background-color: #1a1a1a;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
width: 100%;
-webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
   -ms-transition:  width .2s ease-in;
		transition: width .2s ease-in;

}

.sidebar-nav li a {
display: block;
color: #ddd;
text-decoration: none;
padding: 5px 5px 5px 10px;
word-wrap: break-word;
word-break: break-all;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
color: #fff;
text-decoration: none;
background-color: transparent;
}

.sidebar-nav .dropdown-menu {
position: relative;
width: 100%;
padding: 0;
margin: 0;
border-radius: 0;
border: none;
background-color: #222;
box-shadow: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-right: 0;
  padding-left: 0;
}
/* Space out the masthead */
/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}
.sidebar-nav li a {
	padding: 8px 15px 8px 30px;    
}

}

/* RD: for buttons table */
table.table{
border-collapse:collapse;
background-color: #f8f9fa;

}
table.table,th.th,td.td{
border:1px solid #cecece;
}
th.th,td.td{
padding:10px;
}

/*Additional : padding and code style required for gsap-menu component*/
.code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #e7e9ea;
  border-radius: 0.25rem;
}

.code-snippet-label {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/*-------------------------------*/
/*     Icon styles        */
/*-------------------------------*/
.icon-swatch {
background: transparent;
width: 110px;
margin: 8px 0;
.panel-heading {
background: rgba(255, 255, 255, 0.15);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #000;
text-align: center;
height: 60px;
width: 80px;
margin: 0 auto;
font-weight: normal;
.icon {
  font-size: 40px;
  line-height: 65px;
  margin: 0;
}
}
.panel-body {
background: transparent;
padding-top: 15px;
p {
  color: #999 !important;
}
}


}
/* callout-container */
.callout-container{
	padding: 10px;
background: #f1f1f1;
}
.callout-p{
width:100%;
text-align:center;
font-size:15px;
margin-top:15px;
}






