{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
       <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
	
	
	<!-- Start : Header -->
	<header class="primary-menu">
        <a href="javascript:void(0)" class="mobile-menu-button icon-icon-download link-newline link-regular-icon link-regular" onclick="togglePrimaryMenu(this)"></a>
		<div class="logo"><img src="/{{ directory }}/images/logo.png" alt="logo icon"/></div>
		<ul class="">
			<li class="active-menu-item"><a href="#">Home</a></li>
			<li><a href="/pages/interest-and-prep.html">Interest & Prep</a></li>
			<li><a href="/pages/sponsorship.html">Sponsorship</a></li>
			<li><a href="/pages/apply-to-school.html">Apply to School</a></li>
			<li><a href="/pages/departure.html">Departure</a></li>
			<li><a href="/pages/life-on-campus.html">Life on Campus</a></li>
		</ul> 
    </header>
    <!-- end: header -->
    <div class="main-content row home-page-container">
        <div class="col-lg-9">
                <div class="content-panel">
                    <img src="/{{ directory }}/images/hero_image_home.png" alt="content image" />
                    <div class="cp-text-wrapper">
                        <h2 class="text-x-large text-os-regular black">Welcome</h2>
                        <p class="text-xx-small text-os-regular black">
                            We collect intent to apply information in March for practitioners who intend to apply to GSAP in the summer of 2017. We understand that it is early in the process and you may still be deciding whether or not to apply; however, submitting the intent to apply with your current intentions will help the leadership team forecast the level of interest this year and start to prepare for the local office business case presentations.
                        </p>
                    </div>
                </div>
                <div class="content-panel">
                    <h2 class="text-large pt-3 cp-text-wrapper text-os-regular black">Meet the Team</h2>
                    <div class="tab">
                            <ul class="tab-items text-os-regular">
                                <li><a class="text-os-regular text-small active-tab" data-index="tab-item-1" href="javascript:void(0)" onclick="switchTabs(event)">GSPC</a></li>
                                <li><a class="text-os-regular text-small" data-index="tab-item-2" href="javascript:void(0)" onclick="switchTabs(event)">GSAP</a></li>
                                <li><a class="text-os-regular text-small" data-index="tab-item-3" href="javascript:void(0)" onclick="switchTabs(event)">Life On Campus</a></li>
                            </ul>
                            <div class="tab-body-container">
                                <div data-index="tab-body-1" class="tab-body active-body">
                                    <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact1.png"/>
                                                                <div class="my-auto pl-3">
                                                                        <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                        <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>
                                                                    
                                                            </div>
                                                            <legend class="mt-2"></legend>
                                                        </section>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact2.png"/>
                                                                <div class="my-auto pl-3">
                                                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                    <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>
                                                                    
                                                            </div>
                                                            <legend class="mt-2"></legend>
                                                        </section>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact3.png"/>
                                                                <div class="my-auto pl-3">
                                                                        <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                        <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>
                                                                    
                                                            </div>
                                                            <legend class="mt-2"></legend>
                                                        </section>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact4.png"/>
                                                                <div class="my-auto pl-3">
                                                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                    <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>
                                                                    
                                                            </div>
                                                            <legend class="mt-2"></legend>
                                                        </section>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact5.png"/>
                                                                <div class="my-auto pl-3">
                                                                        <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                        <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>
                                                            </div>
                                                            <legend class="mt-2 separator"></legend>    
                                                        </section>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                    <section class="section-contactcard">
                                                            <div class="container">
                                                                <img src="/{{ directory }}/images/contact6.png"/>
                                                                <div class="my-auto pl-3">
                                                                    <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                                    <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                                                </div>   
                                                            </div>
                                                        </section>
                                            </div>
                                    </div>
                                    
                        </div>
                            <div data-index="tab-body-2" class="tab-body">GSAP</div>
                            <div data-index="tab-body-3" class="tab-body">Life on Campus</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="callout callout-quick-links">
                <h2>Partner Sponsor</h2>
                <div class="row">
                    <div class="col-sm-12">
                            <section class="section-contactcard">
                                <div class="container">
                                    <img src="/{{ directory }}/images/contact1.png"/>
                                    <div class="my-auto pl-3">
                                            <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                            <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                    </div>
                                        
                                </div>
                                <legend class="mt-2"></legend>
                            </section>
                            <section class="section-contactcard">
                                <div class="container">
                                    <img src="/{{ directory }}/images/contact2.png"/>
                                    <div class="my-auto pl-3">
                                            <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                            <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                    </div>
                                        
                                </div>
                                <legend class="mt-2"></legend>
                            </section>
                            <section class="section-contactcard">
                                <div class="container">
                                    <img src="/{{ directory }}/images/contact3.png"/>
                                    <div class="my-auto pl-3">
                                            <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                            <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                    </div>
                                        
                                </div>
                            </section>
                    </div>
                </div>
            </div>
            <div class="callout callout-quick-links">
                <h2>GSAP Program Heads</h2>
                <div class="row">
                        <div class="col-sm-12">
                                <section class="section-contactcard">
                                    <div class="container">
                                        <img src="/{{ directory }}/images/contact1.png"/>
                                        <div class="my-auto pl-3">
                                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                        </div>
                                            
                                    </div>
                                    <legend class="mt-2"></legend>
                                </section>
                                <section class="section-contactcard">
                                    <div class="container">
                                        <img src="/{{ directory }}/images/contact2.png"/>
                                        <div class="my-auto pl-3">
                                                <p class="text-xx-small text-os-bold mb-0">Katrina Holmes</p>
                                                <p class="text-xx-small text-os-regular mb-0 ">Content manager</p>
                                        </div>
                                            
                                    </div>
                                </section>
                        </div>
                </div>

            </div>
        </div>
    </div>
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
