{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('gsap/custom-library') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    <div class="main-content row home-page-container">
      <div class="col">
        <div class="content-panel faq-content-wrapper">
          {% if node.field_faq_image.entity.uri is not empty %}
            <img src= "{{ file_url(node.field_faq_image.entity.uri.value) }}" alt="content image" />
          {% endif %}                
          <h2 class="faq-page-title text-large text-os-regular">{{ label }}</h2>
          <section>
            <div class="tab">
              <div class="tab-items-dropdown icon-icon-arrow-down" id="tabDropdown">{{ faq_tabs_name }}</div>
              <div class="wrapper-tab">
                <div class="side-arrow" id="left-arrow"><i class="arrow left"></i></div>
                    <ul class="tab-items tab-item" id="tab-item">
                      {% for key,faq_tab in faq_tabs %}
                        <li><a class="{{ faq_tab.class }}"  data-index="tab-item-{{ key }}" data-value = "{{ faq_tab.alias }}" href="javascript:void(0)" onclick="switchTabs(event)">{{ faq_tab.name }}</a></li>
                      {% endfor %}
                    </ul>
                <div class="side-arrow" id="right-arrow"><i class="arrow right"></i></div>
              </div>
              <div class="tab-body-container">
                {% for key,faq_tab_body in faq_tabs %}                                
                  <div data-index="tab-body-{{ key }}" data-value = "body~{{ faq_tab_body.alias }}" class="tab-body {{ faq_tab_body.body_class }}">
                    <div class="faq-container">
                     {% for faq_section in faq_tab_body.faq_sections %}
                       <div class="faq-item">
                         <div class="faq-item-title text-medium">{{ faq_section.section_title }}</div>
                           <div class="faq-item-body">
                             {% for question_id,question_answer in faq_section.questions_answers %}
                               <div class="question-wrapper">                                    
                                 <div class="accord-header faq-question text-os-semi-bold">
                                   <span class="green-dot"></span>{{ question_answer.question }}
                                 </div>
                                 <div id="acc{{ key }}{{ question_id }}" class="accord-content collapse show faq-answer text-xx-small">
                                   <div>{{ question_answer.answer|raw }}</div>
                                 </div>
                               </div>
                             {% endfor %}
                           </div>
                         </div>
                       {% endfor %}
                      </div>
                     </div>
                   {% endfor %}
                </div>
             </div>
          </section>
        </div>
      </div>        
    </div>
  </div>
</article>