{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
  <div class="content-panel image-narrow podcast-series">
    {% if node.field_podcast_image.entity.uri.value is not empty %}
      <img src="{{ file_url(node.field_podcast_image.entity.uri.value) }}" alt="content image" />
    {% endif %}  
      <div class="cp-text-wrapper">
        <h2 class="text-large text-os-regular black">
          {{ label }}
        </h2>
        <div class = text-xx-small>
        {% if node.field_podcast_description.value is not empty %}
          <p>{{ node.field_podcast_description.value|raw }}</p>
        {% endif %}  
      </div></div>
	  <div class="row section-align border-align">
        <div class="col-sm-12 text-os-bold text-x-small black header-podcast text-xx-small">{{ node.field_podcast_title.value }}</div>
        <div class="podcast-section-parent">
        {% for data in podcast_data %}
            <div class="division-section header-align podcast-section">			
                <div class="sub-text-section increase-text-area text-xx-small">
                    <div class="text-os-bold text-xx-small black">{{ data.name }}</div>
                    <div class="text-section-head">{{ data.desg }}</div>
                    <div class="text-section">{{ data.bio|raw }}</div>
                    <div class="file-details"><a href="{{ file_url(data.file) }}" class="icon-icon-download link-regular dropdown-icon-align">{{ data.podcast_title }}</a></div>
                </div>
            </div>
         {% endfor %}   
        </div>
       </div>
       <div class="row section-align border-align">
        <div class="col-sm-12 text-os-bold text-x-small black">{{ node.field_archives_title.value }}</div>
        <div class="col-sm-6 archive-dropdown">
            <div class="custom-dropdown-link">  
               <!-- <div class="select-dropdown"> 
				        <div class="selection-list"> 
					        <Select id="podcast-dropdown" class="podcast-select"> 
						        <option value="">Select</option>
							      {% for pdata in podcast_a %}
							         <option value="{{ file_url(pdata.archive_file) }}">{{ pdata.archive_name }}</option> 
							      {% endfor %}
						      </select> 
					      </div>
				      </div>  -->
				      <div class="icon-icon-arrow-down icon-custom-arrow dropdown-link-align dropdown-pad icon-margin"> 
                    <div class="dropdown"> 
                        <div class="appended-file"><a><span>Select</span></a><span class="selected-file"></span></div> 
                        <div class="selection-list"> 
                            <ul> 
                               {% for pdata in podcast_a %} 
                                 <li data-value="{{ file_url(pdata.archive_file) }}"><a>{{ pdata.archive_name }}</a></li> 
                               {% endfor %}
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="download-file">
                    <a href="#" class="icon-icon-download link-regular dropdown-icon-align">Download</a>
                </div>  
            </div>
        </div>
       </div>
       </div>
  </div>  
</article>