{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    <!-- Start : Content Panel 3 -->
	<div class="content-panel sidebar-stats">
		<div class="row">
			{% if node.field_statistic1 is not empty or node.field_statistic2 is not empty or node.field_statistic3 is not empty %}
				<div class="col-md-9 cp-text-wrapper">
			{% else %}
				<div class="col-md-12 cp-text-wrapper">
			{% endif %}
					<h2 class="text-large text-os-regular black">
					{{ label }}
					</h2>
					<div class = "text-xx-small">
					<p class="text-xx-small text-os-regular black">{{ node.body.value|raw }}</p>

					<h3 class="text-school-download text-os-bold">{{ node.field_selection_title.value }}</h3>
					<div class="col-md-9 downloadSchoolProfile">
						<!-- <div class="custom-dropdown-link mar-bottom-20">
							<div class="icon-custom-arrow">
							<div class="dropdown">
							<div class="selection-list">
							<select class="school-dropdown" id ="sch-drpdwn">
							<option value="">Select</option>
							{% for school in schools %}
								{% set val = file_url(school.profile) ~ '|' ~ file_url(school.spotlight) %}
								<option value="{{ val }}">{{ school.name }}</option>
							{% endfor %}
							</select>
							</div></div></div>
							<div class="download-file">
								<a id="sch-profile" href="#" class="icon-icon-download link-regular-icon link-regular schoolProfile">Download School Profile</a>
								<a id="sch-spotlight" href="#" class="icon-icon-download link-regular-icon link-regular">Download Spotlight</a>
							</div>
						</div>  -->
						<div class="custom-dropdown-link mar-bottom-20">
							<div class="icon-icon-arrow-down icon-custom-arrow">
							<div class="dropdown">
							<div class="appended-file"><a><span>Select</span></a><span class="selected-file"></span></div>
							<div class="selection-list">
							<ul>
							{% for school in schools %}
								{% if school.profile == '#' %}
								{% set profile = '#' %}
								{% else %}
								{% set profile = file_url(school.profile) %}
								{% endif %}
								{% if school.spotlight == '#' %}
								{% set spotlight = '#' %}
								{% else %}
								{% set spotlight = file_url(school.spotlight) %}
								{% endif %}
								{% if school.recording == '#' %}
								{% set recording = '#' %}
								{% else %}
								{% set recording = file_url(school.recording) %}
								{% endif %}
								{% set val = profile ~ '|' ~ spotlight ~ '|' ~ recording %}
							<li data-value="{{ val }}"><a>{{ school.name }}</a></li>
							{% endfor %}
							</ul>
							</div></div></div>
							<div class="download-file">
								{% if node.field_school_profile_label.value is not empty %}
									<a target="_blank" id = "sch-profile" onclick="javascript:checkLink('sch-profile')" href="" class="icon-icon-download link-regular-icon link-regular schoolProfile">{{ node.field_school_profile_label.value }}</a>
								{% endif %}
								{% if node.field_spotlight_label.value is not empty %}
									<a target="_blank" id = "sch-spotlight" onclick="javascript:checkLink('sch-spotlight')" href="" class="icon-icon-download link-regular-icon link-regular schoolProfile">{{ node.field_spotlight_label.value }}</a>
								{% endif %}
								{% if node.field_spotlight_recording_label.value is not empty %}
									<a target="_blank" id = "sch-recording" onclick="javascript:checkLink('sch-recording')" href="" class="icon-icon-download link-regular-icon link-regular">{{ node.field_spotlight_recording_label.value }}</a>
								{% endif %}
							</div>
						</div>
					</div></div>
				</div>
			{% if node.field_statistic1 is not empty or node.field_statistic2 is not empty or node.field_statistic3 is not empty %}
				<aside class="col-md-3 cp-side bg-gray">
					{% if node.field_statistic1 is not empty %}
						<div class="cps-row">
						<div class="green text-xx-large cpsr-no">{{ node.field_statistic1.value }}</div>
						<div class="white text-small cpsr-text" >{{ node.field_statistic1_title.value }}</div>
						</div>
					{% endif %}
					{% if node.field_statistic2 is not empty %}
						<div class="cps-row">
						<div class="green text-xx-large cpsr-no">{{ node.field_statistic2.value }}</div>
						<div class="white text-small cpsr-text" >{{ node.field_statistic2_title.value }}</div>
						</div>
					{% endif %}
					{% if node.field_statistic3 is not empty %}
						<div class="cps-row">
						<div class="green text-xx-large cpsr-no" >{{ node.field_statistic3.value }}</div>
						<div class="white text-small cpsr-text">{{ node.field_statistic3_title.value }}</div>
						</div>
					{% endif %}
				</aside>
			{% endif %}
		</div>
	</div>
	<!-- End : Content Panel 3 -->
  </div>
</article>