{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container layout-container-parent">
  <!-- Start : Header -->
	<header class="primary-menu">
		<div class="logo"><img src="/{{ directory }}/images/logo.png" alt="logo icon"/></div>
    </header>
    <!-- end: header -->

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="row main-content login-content">{# /.layout-content #}
      <div class="login-form-container">
    <div class="col-md-5 m-auto login-section dsi-link-bb">
      <h4 class="text-x-large text-os-regular black text-center pb-5 mb-0 grad-header">Current Employee Login</h4>
      <div class="login-description">
      Full-time Deloitte US and USI employees can access the Deloitte Graduate School Assistance Program homepage by clicking 'Access Site' below.<br/><br/>
      If you receive an error message upon entering the site, connect to the Deloitte VPN and then try again.
      </div>
      <div class="row pt-3 pb-4 phone-fix dsi-link button col-sm-12 btn">
        {{openid_form}}
          <!--<a href="/saml_login?destination=/" class="button js-form-submit form-submit col-sm-5 m-auto btn btn-primary">Access Site</a>        -->
      </div>
    </div>
    <div class="col-md-5 m-auto login-section dsi-ext-user">
      <h4 class="text-x-large text-os-regular black text-center pb-5 mb-0 grad-header">External Users</h4>
      {{ page.content }}
      <div class="row mt-3 link-wrap">Need help? Reach out to us at <a href="mailto:usgsap@deloitte.com" class="btn-link need-help">usgsap@deloitte.com</a>.</div>
    </div>
      </div>
  </div>
  </main>
  
  {% if page.footer %}
    <footer role="contentinfo">
      <div class="copyright-content">{{ page.footer }}</div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
