.section-contactcard{
    .container{
        display:inline-flex;
        color: $black;
    }
    legend{
        border-bottom: 1px solid $medium-gray;
    }
}
.contact-type{
    background: $white;
}