
  /* some CSS here */
  .primary-menu {
    font-family: $font-family-open-sans;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $black;
  .mobile-menu-button{
    display: none;
  }
  .logo {
    width: 20%;
  }
  .logo {
    img {
      display: block;
      margin: auto;
    }
  }
  ul {
    margin: 0;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
    .active-menu-item {
      color: $green;
      /*border-bottom: 3px solid $green;*/
      a {
        color: $green;
      }
    }
    li {
      color: $white;
      height: 100px;
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;
      a {
        font-size: $small;
        color: $white;
        text-decoration: none;
      }
    }
    li {
      &:hover {
        color: $green;
        /*border-bottom: 3px solid $green;*/
      }
    }
    li {
      &:hover {
        a {
          color: $green;
        }
      }
    }
  }
}


//Changed the breakpoint from 480px for 1024px for tablet view
@media only screen and (max-width: 991px){
  .primary-menu {
    flex-direction: column;
    align-items: center;
    height: 50px;
    .mobile-menu-button{
      color:white;
      position: absolute;
      display: block;
      top:6px;
      left:10px;
      img{
        height:30px;
      }
    }
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      
    }
    ul {
      justify-content: flex-start;
      align-items: center;
      transition: 0.5s left ease-in;
      flex-direction: column;
      padding-top:32px;;
      padding-left: 0;
      position: absolute;
      top: 50px;
      width:100%;
      left:-100%;
      height: 100vH;
      background: black;
      z-index: 99;
      .active-menu-item {
        border-bottom: none;
        a{
          color:$green;
        }
      }
        li {
          padding-bottom: 2rem;
          height: auto;
          //display: block;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
    
  }