/* basic callout style */
.callout-style{
	padding:20px;
	font-family: $font-family-open-sans;
	/*max-width: 385px;*/
    word-wrap: break-word;    
	h2{
		font-size:$medium;
	}
	p{
		font-size:$xx-small;
	}
	/* links that goto a new line */
	a.link-regular-icon,a.link-newline{
		margin-bottom:15px;
	}
	a.link-regular-icon:last-child,a.link-newline:last-child{
		margin-bottom:0;
	}
}

/* white callout */
.callout-white{
	background: $white;
	h2{
		margin-bottom:12px;
	}
	h2, p{
		color: $black;
	}
	@extend .callout-style;
}

/* blue callout */
.callout-blue{
	background: $blue;	
	h2{
		margin-bottom:12px;
	}
	h2, p{
		color: $white;
	}
	@extend .callout-style;
}

/* black callout */
.callout-black{
	background: $black;	
	h2{
		margin-bottom:12px;
	}
	h2, p{
		color: $white;
	}
	//p, 
	a.callout-icon-link {
		margin-bottom:15px;
	}
	p:last-child, a.callout-icon-link:last-child{
		margin-bottom:0;
	}
	@extend .callout-style;
}

/* callout with headers */
.callout-regular{
background: $white;
    padding-top: 0;
	h2{
		background-color: $gray;
		color: $white;
		padding:7px 20px;
		margin:0 -20px 20px -20px ;
	}
	// p{
	// 	margin-bottom:15px;
	// }
	div.icon-icon-arrow-down{
		margin-bottom:3px;
	}
	@extend .callout-style;
}

/* callout margin */
.callout{
	margin: 20px 0 0 0;
}

/* quick link style */
.callout-quick-links{	
	@extend .callout-regular;	
}

/*  key contact style */
.callout-key-contact{
	p{
		margin-bottom: 4px;
	}	
	@extend .callout-regular;
}

/* faq style */
.callout-faq{
	background: $white;
	padding:12px 20px;	
	@extend .callout-style;
}

/* early departure style */
.callout-early-departure {
	@extend .callout-regular;	
}

/* deferral style */
.callout-deferral {
	@extend .callout-regular;	
}

.key-upcoming-item{
	padding-bottom: 30px;
	&:last-child{
		padding-bottom: 0;
	}
}