.icon-custom-arrow {
    position: relative;
	margin: 0 0 20px;
	padding: 3px;
	z-index: 1;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
    
    &:before {
        position: absolute;
        color: $blue;
        text-align: center;
        right: 0;
        top: 0;
        z-index: 1;
        width: 5%;
        height: 100%;
        line-height: 2.5em;
        pointer-events: none;
        display: block;
        padding: 0 2em;
    }
    
    &.icon-margin {
        margin-right: 20px;
    }
}

.dropdown {
	.selection-list { 
		margin:0px; 
		padding:0px; 
		position:relative;
        margin-top: -3px;

		ul { 
		  background:$white none repeat scroll 0 0; 
          border: 1px solid $medium-gray;
          display:none;
		  list-style:none; 
          padding:5px 0px; 
          position:absolute; 
		  left: 0px; 
		  top: 2px; 
		  width: 100%; 
		  min-width:170px;
		  
		  li a { 
			  padding: 5px 10px; 
			  display: block;
			  color: $black;
			  outline: none;
			  text-decoration: none;
              font-family: "Open Sans";          
              font-size: $xx-small;
			}
            
		  li a:hover{
			  background-color: $light-blue;
			  color: $white;
			  text-decoration: none;
			}
		}		
	}
	
	.appended-file { 
		margin:0px; 
		padding:0px;
        border: 1px solid $medium-gray;
		
		a {
		  color: $black;
		  background:$white;
		  display: block; 
		  padding-right:20px;  
		  width: 100%;
		  text-decoration: none;
		  
		  span {
			  cursor:pointer; 
			  display:block; 
			  padding: 5px 10px;
			  color: $black;
			  text-decoration: none;
              font-family: "Open Sans";               
              font-size: $xx-small;
			}
		}
		
		.selected-file { 
			display: none;
		}
	}
	
	ul { 
		margin:0px; 
		padding:0px; 
	}
}

.dropdown-icon-align {
    cursor: pointer;
    &:before {
        font-size: 30px; 
        padding-right: 8px;
        vertical-align: middle;
    }
}

.mar-left-0 {
    margin-left: 0px;
}

.mar-bottom-20 {
    margin-bottom: 20px;
}

.dropdown-link-align {
    width: 50%;
}

.custom-dropdown-link {
    button {
        background: transparent;
        border: none;
        position: absolute;
        cursor: default;
        outline: none;
        margin-top: 4px;
        
        &:hover, &:click {
            outline: none;
        }
    }
    
    .download-file {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-pad {
        padding-left: 0px;
    }
}

[class*="container"], .main-content {
    .icon-custom-arrow {   
		&:before {
			line-height: 2.5em;
		}
	}
}