.offerings-section {
	/*margin-bottom: 20px;*//* RD - generic style */
}

.header-section {
	font-family: "Open Sans";
	font-size: $large;
	color: $black;
	margin-top:10px;
}

.text-section {
	font-family: "Open Sans";
	font-size: $xx-small;
	color: $black;
	line-height: $medium;
	margin-top:15px;
	margin-bottom:15px;
}

.sub-header-section {
	font-family: "Open Sans Bold";
	font-size: $x-small;
	color: $black;
	margin-left: 20px;
}

.file-details {
	margin-top: 10px;
	margin-bottom: 20px;
	
	a {
		margin-left: 0px;
	}
}

.green-icon-section {
	color: $green;
	font-family:"Open Sans SemiBold";
	font-size: $medium;
	display: inline-block;
	padding-left: 0px;
	margin: 15px 0px;
}

.highlighted-section {
	padding: 20px;
	background: $gray;
	margin: 0px;
	
	.white-header-section {
		font-family: "Open Sans";
		font-size: $large;
		color: $white;
	}

	.white-text-section {
		font-family: "Open Sans";
		font-size: $xx-small;
		color: $white;
		line-height: $medium;
		margin-top:10px;
		margin-bottom:10px;
		
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
	
	.symp-details {
		margin-top: 10px;
		margin-bottom: 20px;
		.dropdown-icon-align{
			margin-left: 0px;
		}
	}
}

.icon-text-align {
	
	&:before {
		font-size: 30px; 
		padding-right: 10px;
		vertical-align: middle;
	}
}

.division-section {
	display: inline-block;
	float: left;
	margin-top: 20px;
	padding-left: 0px;
		
	div {
		margin-left: 0px;
	}
    
    .text-section-head {
        margin-top: 0px;
    }
	
	.text-section {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.img-section {
		display: inline-block;
		vertical-align: top;
		padding-right: 0px;			    
		float: left;
		margin-right: 10px;
	}
	
	.sub-text-section {
		display: inline-block;
		padding-left: 0px;
		width: 73%;
        
        &.increase-text-area {
            width: 90%;
        }
	}
    
    &.header-align {
        margin-top: 5px;
    }
}

.border-align {
	border-top: 1px solid $medium-gray;
	padding-left: 0px;
	padding-top: 20px;
}

.section-align {
    padding-left: 5px;
}

.content-image{
	.image-section {
		float: left;
		width: 100px;
		min-height: 120px;
	}
}

.gsap-payment {			
	.sub-header-section {
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.highlighted-section {
		padding: 0px 10px 1px 20px;
		margin-bottom: 10px;
	}
}

.green-icon-header {
	color: $green;
	font-family:"Open Sans Bold";
	font-size: $xx-small;
	display: inline-block;
	margin: 15px 0px;
 }