.carousel{
    background-color: $off-white;
    margin-bottom: 10px;
    .date{
        color: $dull-grey;
    }
    .carousel-item{
        padding-top: 10px;
    }
    .carousel-indicators{
        bottom: -10px;
        margin-right: 0;
        left: unset;
        li{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $dark-grey;
        }
        .active{
                background-color: $green;
        }
    }
}
.carousel-specify{
    padding: 0 20px;
    margin: 0 -20px 10px -20px;
}
