ul.bullet-list{
			list-style-type:none;
			color: $black;
			font-size: $xx-small;
		    padding-left: 16px;
		    position: relative;
		    margin-left: 2px;
			li::before {
				content: "\2022";
				color: $green;
	  			display: inline-block;
	  			width: 6px;
	  			position: absolute;
	    		left: 0;
	  		}
  		}
.content-panel{
	overflow: hidden;
	background-color: $white;
	margin: 20px 0 0 0;		
	img{
		width:100%;
	}
	.row{
		margin:0;
	}
	.cp-text-wrapper{
		padding:0 20px;
		h2{
			margin: 15px 0 12px 0;
		}
		p{
			margin-bottom: 12px;
		}
		p:last-child{
			margin-bottom: 20px;
		}
		.link-regular-icon{
			margin-bottom: 20px;
		}		
	}
	&.sidebar-stats {
		overflow: visible;
		
		.download-file {
			position: relative;
			
			.schoolProfile { 
				margin-right: 45px;
			}
		}
		
		.downloadSchoolProfile {
			padding-left: 0px;
			margin-left: -3px;
		}
	}
    
    &.podcast-series {
		overflow: visible;
    }
}
.cp-side{
	.cps-row{
		margin: 0 16px;
		padding: 16px 0;
		border-bottom: 1px solid #979797;
	}
}
.content-panel.image-broad{
	img{
		height: 150px;	
	}
}
.content-panel.image-narrow{
	img{
		height: 60px;	
	}
}
.content-panel.image-with-text{
	.image-with-quote{
		position:relative;
		.image-quote{
			text-align:center;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			.author{
				margin:10px 0 0 0;
			}
		}
	}
}
