/* basic link */
.link-regular{
	color: $blue;
	font-size: $xx-small;
	font-family: $font-family-open-sans;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: #0056b3;
	}
}
/* links with icon */
.link-regular-icon{
	padding-top: 2px;
	display:inline-block;
	position:relative;
	padding-left: 40px;
	min-height:28px;
}
.link-regular-icon:before{
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
}

/* links that goto a new line */
.link-newline{
	display:block;
}

/* used in dropdown*/
.icon-link {
    position: absolute;
    display: inline-block;
}