/* basic accordion style */

.gsap-accordion {
  /* expanded style */
  .accordion-panel {
    margin-left: -20px;
    margin-right: -20px;
    .accord-header {
      background: $medium-gray;
      color: $black;
      padding: 10px 20px;
      font-size: $medium;
      margin-bottom: 0;
    }
    .accord-header:before {
      color: $black;
      content: "\e001";
      float: right;
      font-size: 16px;
      line-height: 20px;
      font-family: "gsap" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .accord-content {
      background: $off-white;
      .accord-content-child {
        padding: 15px 15px 5px 15px;
      }
    }
    /* collapsed style */
    .accord-header.collapsed {
      background: $medium-gray;
      color: $black;
      border-bottom: 1px solid $light-gray;
    }
    .accord-header.collapsed:before {
      color: $gray;
      content: "\e000";
    }
    .accord-header.collapsed+.accord-content {
      margin-bottom: 0;
    }
  }
}
