/* generic button style */
%gsap-button{
padding: 9px 20px;
font-size: $x-small;
font-family: $font-family-open-sans;
font-weight: $semi-bold;
border-radius:2px;
cursor: pointer;
}

/* button with transparent bg mixin */
@mixin button($color) {
background:none;
border: 1px solid $color;
color: $color;
&:hover, &:active{
	color: $white;
}
@include button-state($color);
}

/* button with bg mixin */
@mixin button-with-bg($color) {
	background:$color;
	border: 1px solid $color;
	color: $white;
	@include button-state($color);
}

/* button with white bg mixin */
@mixin button-white-bg($color) {
background:$white;
border: 1px solid $color;
color: $color;
&:hover, &:active{
	color: $white;
}
@include button-state($color);
}

/* button active and hover states */
@mixin button-state($color){
	&:hover{
	background:lighten($color,30%);
	border: 1px solid lighten($color,30%);
}
&:active{
	background:darken($color,10%);
	border: 1px solid darken($color,10%);
}
}

/* blue */
/* transparent */
.button-blue{
@include button($blue);
@extend %gsap-button
}

/* background */
.button-bg-blue{
@include button-with-bg($blue);
@extend %gsap-button
}
/* white background */
.button-wbg-blue{
@include button-white-bg($blue);
@extend %gsap-button
}

/* green */
/* transparent */
.button-green{
@include button($green);
@extend %gsap-button
}

/* background */
.button-bg-green{
@include button-with-bg($green);
@extend %gsap-button
}
/* white background */
.button-wbg-green{
@include button-white-bg($green);
@extend %gsap-button
}

/* black */
/* transparent */
.button-black{
@include button($black);
@extend %gsap-button
}

/* background */
.button-bg-black{
@include button-with-bg($black);
@extend %gsap-button
}
/* white background */
.button-wbg-black{
@include button-white-bg($black);
@extend %gsap-button
}