.tab {
  width: 100%;
  .tab-items {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $light-gray;
    //margin-bottom: 0;
    li {
      display: inline-block;
      padding-left: 32px;
      padding-right: 32px;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
      a {
        padding: 8px;
        text-decoration: none;
        color: $black;
          
        &.active-tab {
          color: $green;
          /*border-bottom: 3px solid $green;*/
        }
      }
    }
    li:not(:last-child) {
      border-right: 2px solid $light-gray;
    }
    li:hover {
      a {
        color: $green;
        /*border-bottom: 3px solid $green;*/
      }
    }
  }
}

.tab-body {
  display: none;
}

.active-body {
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 991px){
    
  .tab {
    .tab-items {
      li {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
