#menu-edit-form .form-item-label, #menu-edit-form .form-item-description,
.menu-link-edit .form-item-enabled, .menu-link-content-form #edit-enabled-wrapper, .menu-link-content-form #edit-description-wrapper,
.menu-link-edit .form-item-expanded, .menu-link-content-form #edit-expanded-wrapper, .menu-link-content-form .form-item-menu-parent,
.menu-link-edit .form-item-menu-parent, .menu-link-content-form #edit-weight-wrapper, .menu-link-edit .form-item-weight,
.node-text-with-assets-edit-form #edit-advanced, .node-text-with-assets-form #edit-advanced,
.node-contact-record-edit-form #edit-advanced, .node-contact-record-form #edit-advanced,
.node-contacts-edit-form #edit-advanced, .node-contacts-form #edit-advanced,
#edit-meta-changed, #edit-meta-author, #edit-menu,
.node-right-rail-contacts-edit-form #edit-advanced, .node-right-rail-contacts-form #edit-advanced,
.ief-form .field--name-revision-log-message, #edit-body-0-format, #edit-field-body-text-section-2-0-format,
.tabledrag-toggle-weight-wrapper/*, .js-form-file*/
{display: none;}
#upload-form .js-form-file {
    display: block;
}
.node-text-with-assets-edit-form .image-preview, .node-text-with-assets-form .image-preview,
.node-contact-record-edit-form .image-preview, .node-contact-record-form .image-preview
{float: none;}
.improvedselect-text-wrapper {
	display:none !important;
}
/*.improvedselect span.move_up, .improvedselect span.move_down{
	display:none !important;
}*/
#editor-link-dialog-form a.imce-url-button {
	display:none !important;
}
li:not(.is-active) a[data-drupal-link-system-path="admin/content/comment"] {
    display: none;
}
li:not(.is-active) a[data-drupal-link-system-path="admin/content/media"] {
    display: none;
}