/*Hide unnecessary links in Toolbar Menu so that Student role can use it*/
.toolbar-tab:nth-child(3) {
  display: none !important;
}
.toolbar-oriented .toolbar-bar .toolbar-tab, .toolbar-oriented .toolbar-tray-horizontal li {
    float: right;
}
ul.toolbar-menu li.account {
    display: none;
}
/*li.tabs__tab:nth-child(1) {
  display: none !important;
}*/
/*End Toolbar Menu CSS*/